{% extends "base/base.html" %}
<!-- /. Aqui va el titulo de la pagina.... si lo dejas vacio no aparecera nada -->
{% block title%}Inicio{% endblock %}
<!-- /. Aqui va el contenido.... si lo dejas vacio no aparecera nada -->
{% block content%}
<table class="table">
    <th>Nombre</th>
    <th>Detalle</th>
    <tr>
        <td>ID</td>
        <td>{{ object.id }}</td>
    </tr>
    <tr>
        <td>tipo de usuario</td>
        <td>{{ obj.tipo_de_usuario}}</td>
    </tr>
    <tr>
        <td>¿Docente?</td>
        <td>{{ object.is_docente }}</td>
    </tr>
    <tr>
        <td>¿Admin?</td>
        <td>{{ object.is_admin }}</td>
    </tr>
    <tr>
        <td>¿Alumno?</td>
        <td>{{ object.is_alumno }}</td>
    </tr>
    <tr>
        <td>telefono de casa</td>
        <td>{{ object.telefono_casa }}</td>
    </tr>
    <tr>
        <td>celular</td>
        <td>{{ object.telefono_cel }}</td>
    </tr>
    <tr>
        <td>titulo docente:</td>
        <td>{{ object.titulo_docente }}</td>
    </tr>
    <tr>
        <td>grado de alumno:</td>
        <td>{{ object.grado_alumno }}</td>
    </tr>
    <tr>
        <td>Curp</td>
        <td>{{ object.curp }}</td>
    </tr>
    <tr>
        <td>Direccion</td>
        <td>{{ object.direccion }}</td>
    </tr>
    <tr>
        <td>fecha de nacimiento</td>
        <td>{{ object.fecha_nacimiento }}</td>
    </tr>
    <tr>
        <td>grupo_id</td>
        <td>{{ object.grupo_id }}</td>
    </tr>
    <tr>
        <td>user_id</td>
        <td>{{ object.user_id }}</td>
    </tr>
</table>
                    
{% endblock %}
<!-- /. Aqui van los botones.... si lo dejas vacio no aparecera nada -->

{% block buttons%}

<li>
    <a href="{% url 'home:home_administrador' %}"><i class="fa fa-qrcode "></i>Inicio</a>
</li>
<li>
    <a href="{% url 'home:consulta_administrador' %}"><i class="fa fa-bar-chart-o"></i>Realizar consulta</a>
</li>
<li>
    <a href="{% url 'home:historial_administrador' %}"><i class="fa fa-qrcode "></i>Historial de actividad</a>
</li>
<li>
    <span class="logout-spn">                             
        <a href="{% url 'home:logout' %}"><i class="fa fa-qrcode "></i>Salir del sistema</a>
    </span>
</li>

{% endblock %}
<!-- /. Aqui va el boton de logout.... si lo dejas vacio no aparecera nada -->
{% block logout%}{% endblock %}
<!-- /. Aqui va el aviso de privacidad.... si lo dejas vacio no aparecera nada -->
{% block privacy %}
<H5 align="center">
    PARA CUALQUIER ACLARACIÓN O DUDA ACERCA DE LA AUTENTIFICACIÓN DE LA PÁGINA, 
    <BR> INFORMACIÓN DEL PRESENTE O CUALQUIER 
    INCONVENIENTE CON ESTA PÁGINA WEB, FAVOR DE COMUNICARSE AL ÁREA DE REGISTRO DE LA ADMINISTRACIÓN ESCOLAR. 
    <br>PARA MÁS INFORMACIÓN COMUNICARSE AL TEL. 6642015219 O AL CORREO: CONTROLESCOLAR@EDUCACIONBC.EDU.MX 
</H5>
{% endblock %}