
    <ul class="dropdown-menu">
        <li class="external">
            <h3><span class="bold">{{ logCount }}</span> Notification(s) </h3>
            <a href="{% url 'home:index' %}"> View All </a>
        </li>
            {% if logs %}
                <ul class="dropdown-menu-list scroller actionlist" data-handle-color="#637283" style="height: 250px;">
                    {% for log in logs %}
                        <li>
                            <a href="javascript:;">
                                <span class="time">{{ log.action_time|date:"m/d/Y - g:ia" }} </span>
                                <span class="details">
                                    {% if log.action_flag == 1 %}
                                        <span class="label label-sm label-icon label-success">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                    {% elif log.action_flag == 2 %}
                                        <span class="label label-sm label-icon label-info">
                                            <i class="fa fa-edit"></i>
                                        </span>
                                    {% elif log.action_flag == 3 %}
                                        <span class="label label-sm label-icon label-danger">
                                            <i class="fa fa-minus"></i>
                                        </span>
                                    {% endif %}
                                    {{ log.content_type|capfirst }}: {{ log }}
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                {% comment %} <p>{% trans "This object doesn't have a change history. It probably wasn't added via this admin site." %}</p> {% endcomment %}
            {% endif %}
        </li>
    </ul>
