{% extends "base/base.html" %}
<!-- /. Aqui va el titulo de la pagina.... si lo dejas vacio no aparecera nada -->
{% block title%}Inicio{% endblock %}
<!-- /. Aqui va el contenido.... si lo dejas vacio no aparecera nada -->
{% block content%}
<h2>Pagina inicial de administrador</h2>
{% endblock %}
<!-- /. Aqui van los botones.... si lo dejas vacio no aparecera nada -->

{% block buttons%}

<li>
    <a href="{% url 'home:home_administrador' %}"><i class="fa fa-qrcode "></i>Inicio</a>
</li>
<li>
    <a href="{% url 'home:consulta_administrador' %}"><i class="fa fa-bar-chart-o"></i>Realizar consulta</a>
</li>
<li>
    <a href="{% url 'home:historial_administrador' %}"><i class="fa fa-qrcode "></i>Historial de actividad</a>
</li>
<li>
    <a href="{% url 'home:index' %}"><i class="fa fa-qrcode "></i>Salir del sistema</a>
</li>

{% endblock %}
<!-- /. Aqui va el boton de logout.... si lo dejas vacio no aparecera nada -->
{% block logout%}{% endblock %}
<!-- /. Aqui va el aviso de privacidad.... si lo dejas vacio no aparecera nada -->
{% block privacy%}Aqui va el aviso de privacidad...{% endblock %}