{% extends "base/base.html" %}
{% load static %}
<!-- /. Aqui va el titulo de la pagina.... si lo dejas vacio no aparecera nada -->
{% block title%}BOLETA{% endblock %}
<!-- /. Aqui va el contenido.... si lo dejas vacio no aparecera nada -->
{% block content%}
<!-- <h2>BIENVENIDO : {{user.first_name}} </h2> -->
<table class="table">
    <h3 align="center"> IMPRIMIR BOLETA DE CALIFICACIONES </h3>
    <hr>
</table>
<H3 align="center">
    <B> SI DESEA IMPRIMIR LA SIGUIENTE VISTA PRESIONAR LAS TECLAS : </B> 
    <BR> SELECIONE LO QUE DESEA IMPRIMIR LUEGO PRESIONA <BR> CTRL + P <BR> <hr>
    <BR> EJEMPLO DE LA VISTA .....
</H3>

<TABLE align="center">
    <td>
        <th></th> <th></th> <th></th><th></th> <th></th> <th></th> <th></th> 
    </td>
    <td >     
        <img src="{% static 'assets/img/TUTORPFD.png' %}" width="800" height="500" />
    </td>
</TABLE>   

<TABLE align="center">
    <td>
        <th></th> <th></th> <th></th><th></th> <th></th> <th></th> <th></th> 
    </td>
    <td >     
        <img src="{% static 'assets/img/VIEWSPFD.png' %}" width="800" height="500" />
    </td>
</TABLE>   

<TABLE align="center">
    <td>
        <th></th> <th></th> <th></th><th></th> <th></th> <th></th> <th></th> 
    </td>
    <td >     
        <img src="{% static 'assets/img/TUTOPFD.png' %}" width="800" height="500" />
    </td>
</TABLE>   

<!-- <TABLE align="center">
    <td>
        <th></th> <th></th> <th></th><th></th> <th></th> <th></th> <th></th> 
    </td>
    <td >   
        <img src="{% static 'assets/img/ERROR.gif' %}" width="300" height="300" />
    </td>
</TABLE>     -->


{% endblock %}
<!-- /. Aqui van los botones.... si lo dejas vacio no aparecera nada -->

{% block buttons%}

<li>
    <a href="{% url 'home:home_alumno' %}"><i class="fa fa-qrcode "></i>Inicio</a>
</li>
<li>
    <a href="{% url 'home:avance_alumno'%}"><i class="fa fa-bar-chart-o"></i>Avance de curso</a>
</li>
<li>
    <a href="{% url 'home:historial_alumno'%}"><i class="fa fa-bar-chart-o"></i>Historial</a>
</li>
<li>
    <a href="{% url 'home:imprimir_alumno' %}"><i class="fa fa-qrcode "></i>Imprimir boleta</a>
</li>
<li>                         
    <a href="{% url 'home:logout' %}"><i class="fa fa-qrcode "></i>Salir del sistema</a>
</li>

{% endblock %}
<!-- /. Aqui va el boton de logout.... si lo dejas vacio no aparecera nada -->
{% block logout%}{% endblock %}
<!-- /. Aqui va el aviso de privacidad.... si lo dejas vacio no aparecera nada -->
{% block privacy%}
<H5 align="center">
PARA CUALQUIER ACLARACIÓN O DUDA ACERCA DE LA AUTENTIFICACIÓN DE LA PÁGINA, 
<BR> INFORMACIÓN DEL PRESENTE O CUALQUIER 
INCONVENIENTE CON ESTA PÁGINA WEB, FAVOR DE COMUNICARSE AL ÁREA DE REGISTRO DE LA ADMINISTRACIÓN ESCOLAR. 
<br>PARA MÁS INFORMACIÓN COMUNICARSE AL TEL. 6642015219 O AL CORREO: CONTROLESCOLAR@EDUCACIONBC.EDU.MX 
</H5>
{% endblock %}
