{% extends "base/base2.html" %}

{% block title %}INDEX{% endblock %}

{% block content %}
<br></br>
    {% if request.user.is_authenticated %}
        <div style="text-align:center"><h2><b>¡Bienvenido {{ user }}!</b></h2></div>
        <div style="text-align:center"><h2><a href ="{% url 'home:casa' %}"><b>&larr;Regresar a Inicio</b></a><h2></div></div>   
    {% else %}
        <div style="text-align:center"><h2><b>¡Bienvenido de Nuevo!</b></h2></div> 
        <div style="text-align:center"><h2><a href ="{% url 'home:login' %}"><b>&larr;Iniciar Sesión</b></a><h2></div></div>
    {% endif %}
  
{% endblock %}

{% block privacy %}
<H5 align="center">
    PARA CUALQUIER ACLARACIÓN O DUDA ACERCA DE LA AUTENTIFICACIÓN DE LA PÁGINA, 
    <BR> INFORMACIÓN DEL PRESENTE O CUALQUIER 
    INCONVENIENTE CON ESTA PÁGINA WEB, FAVOR DE COMUNICARSE AL ÁREA DE REGISTRO DE LA ADMINISTRACIÓN ESCOLAR. 
    <br>PARA MÁS INFORMACIÓN COMUNICARSE AL TEL. 6642015219 O AL CORREO: CONTROLESCOLAR@EDUCACIONBC.EDU.MX 
</H5>
{% endblock %}

