{% extends 'base/base2.html' %}

{% block title %}Signup{% endblock title%}

{% block content %}
{% comment %} <br></br>
    <form method ="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>Nombre:</label>
                    <input class="form-control" type="text" name="first_name", value = "{{ request.GET.first_name }}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>Apellidos:</label>
                    <input class="form-control" type="text" name="last_name", value = "{{ request.GET.last_name }}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>Nombre de Usuario:</label>
                    <input class="form-control" type="text" name="username", value = "{{ request.GET.username }}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>Correo:</label>
                    <input class="form-control" type="text" name="email", value = "{{ request.GET.email }}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>Contraseña:</label>
                    <input class="form-control" type="password" name="password1", value = "{{ request.GET.password1 }}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>Confirmar contraseña:</label>
                    <input class="form-control" type="password" name="password2", value = "{{ request.GET.password2 }}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Crear</button>
                </div>
            </div>
        </div>

        {% if request.GET.password1 != request.GET.password2 %}
            LAS CONTRASEÑAS NO SON IGUALES

        {% else %}

        {% endif %}
        
    </form> {% endcomment %}
<br></br>
<div class= "container">
<h2>Registro: </h2>
<form method = "post">{% csrf_token %}
    {% for field in signup_form %}
        <p>
            {{ field.label_tag }}
            {{field}}

            {% if field.help_text %}
                <small style="color: grey;">{{field.help_text}}</small>
            {% endif %}

            {%for error in field.errors %}
                <p style="color: red;">{{error}}</p>
            {% endfor %}
        </p>
    {% endfor %}
    <button type="submit">Crear</button>
</form>
</div>


{% endblock content %}