{% extends 'base/base2.html' %}
{% block navbar %}
{% endblock %}
{% block content %}
<br></br>
    {% if validlink %}
        <h1 class ="text-center"><b>Nueva contraseña</b></h1>
        <form method="post">
            {% csrf_token %}
            {{ form.new_password1.errors }}
            <h3 class ="text-center"><label for = "id_new_password1"><h3> Nueva contraseña: </h3></label>
            {{ form.new_password1 }}
            {{ form.new_password2.errors }}
            <label for = "id_new_password2"><h3>Confirme contraseña:</h3></label>{{ form.new_password2 }}
            <br></br>
            <input type="submit" value="Cambiar mi contraseña"/>
            </h3>
        </form>

    {% else %}
        <h1 class="text-center"><b>ENLACE INVALIDO: ESTE ENLACE YA HA SIDO UTILIZADO</b></h1>
        <h1 class ="text-center"><a href="{% url 'home:login' %}"><b>Regresar al inicio</b></a></h1>

    {% endif %}

{% endblock%}