{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%}Pagina{% endblock %}</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">                   
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>                                  
                        <span class="icon-bar"></span>    
                        <span class="icon-bar"></span>                                
                    </button>
                </div> 
                    <!--ESTA TABLA DIVIDE EL LOGO Y EL TITULO -->   
            <div>
                <a class="navbar-left" href="{% url 'home:casa' %}">
                    <img src="{% static 'assets/img/LOGOESC.png' %}" height=90> 
                </a>   
            </div>   
          
            <div class="navbar-search text-center" style="color:rgb(255, 255, 255)">                 
                <h3><B> SISTEMA EDUCATIVO NACIONAL</B></h3>
                <h4><B> INSTITUTO DE SERVICIOS EDUCATIVOS Y PEDAGÓGICOS DE BAJA CALIFORNIA </B></h4>
                <h5><B> EDUCACIÓN PRIMARIA  </B></h5>
                <br>                               
            </div>
                <!-- {% block logout %}
                 <span class="logout-spn"> 
                    <table>
                        <br> <td WIDTH="30" > </td> 
                        <th>
                            <a class="btn btn-primary" href="{% url 'home:logout' %}" height=60 align="left" >LOGOUT</a>       
                        </th>              
                    </table>
                 </span> 
                {% endblock %} -->
            </div>
        </div>
        <!-- /. NAV TOP  -->
        <BR> <BR>
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <!--- Si no ha iniciado sesion, no podra ver los botones -->
                    {% if request.user.is_authenticated  %}
                    {% block buttons %}
                    <li>
                        <a href="{% url 'home:casa' %}"><i class=""></i> <span
                                class="badge"></span></a>
                    </li>
                    <li>
                        <a href="{% url 'home:casa' %}"><i class=""></i><span
                                class="badge"></span></a>
                    </li>
                    <li class="active-link">
                        <a href="{% url 'home:casa' %}"><i class=""></i><span
                                class="badge"></span></a>
                    </li>
                    <li>
                        <a href="{% url 'home:casa' %}"><i class=""></i></a>
                    </li>
                    <li>
                        <a href="{% url 'home:casa' %}"><i class=""></i></a>
                    </li>

                    <li>
                        <a href="{% url 'home:casa' %}"><i class=""></i></a>
                    </li>
                    <li>
                        <a href="{% url 'home:casa' %}"><i class=""></i></a>
                    </li>
                    <li>
                        <a href="{% url 'home:casa' %}"><i class=""></i></a>
                    </li>
                    {% endblock %}
                    {% else %}
                    <h2></h2>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <BR> 
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        {% block content %}
                        <h2>Contenido de pagina</h2>
                        {% endblock %}
                    </div>
                </div>
                <!-- /. ROW  -->
                <hr />

                <!-- /. ROW  -->
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-lg-12">
                {% block privacy %}
                <H5 align="center">
                    PARA CUALQUIER ACLARACIÓN O DUDA ACERCA DE LA AUTENTIFICACIÓN DE LA PÁGINA, 
                    <BR> INFORMACIÓN DEL PRESENTE O CUALQUIER 
                    INCONVENIENTE CON ESTA PÁGINA WEB, FAVOR DE COMUNICARSE AL ÁREA DE REGISTRO DE LA ADMINISTRACIÓN ESCOLAR. 
                    <br>PARA MÁS INFORMACIÓN COMUNICARSE AL TEL. 6642015219 O AL CORREO: CONTROLESCOLAR@EDUCACIONBC.EDU.MX 
                    </H5>
                {% endblock %}
            </div>
        </div>
    </div>


    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>


</body>

</html>